*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --back-color:#E5E8B6; 
  --button-color:#586994;
  --text-color:aliceblue;
    }

a {
    text-decoration: none; 
  }

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

main {  
  padding: 10px;
  background-color: var(--back-color);
}

.js-quiz{
  margin: auto;
  max-width: 450px; 
}

.results{
  margin: auto;
  max-width: 450px;
  padding-top:10px;
  margin-top: 100px;
}

#start-quiz, #questions {
  text-align: center;
  padding: 20px;
}

#highscore {
  text-align: center;
  padding: 20px;
}

button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

button:hover {
  background-color: #86ac9d;
}

ul{
  align-items: center;
  padding-left: 20px;
  font-weight: 5px;
}


li{
  background-color: var(--button-color);
  font-size: 15px;
  margin: auto;
  max-width: 350px;
  padding: 10px;
  border-radius: 3px;
  color: var(--text-color);
  list-style: none
}

li:hover {
  background-color: #86ac9d;
  cursor: pointer;
}

.hide {
  display:none;
  /* padding: 20px;
  margin: auto;
  max-width: 450px; */
}

#answerDescription{
  margin: auto;
  max-width: 450px;
  color: var(black);
  font-size: 15px;
  font-weight: 10px;
  text-decoration: underline;
}
